@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

.App {
  font-family: 'Poppins',
  sans-serif;
  background-color: #FAFAFC;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  
}



.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: inherit;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  object-fit: contain;


}

.container:hover .overlay {
  opacity: 1;
 ;

}

.text {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 80%;
  left: 30%;
  
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* text-align: center; */
}
